<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tesi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Play4Health"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tesi">
        <activity
            android:name=".AppTravisani.Percorso2.P2EpisodiActivity"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio3.Passo5E3P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio3.Passo4E3P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio3.Passo3E3P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio3.Passo2E3P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio3.Passo1E3P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio3.PassiE3P1Activity"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio2.Passo5E2P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio2.Passo4E2P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio2.Passo3E2P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio2.Passo1E2P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio2.Passo2E2P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio2.PassiE2P1Activity"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio1.Passo4E1P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio1.Passo3E1P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio1.Passo2E1P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio1.Passo1E1P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.P1EpisodiActivity"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso2.Episodio1.Passo6E1P2"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso2.Episodio1.Passo5E1P2"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso2.Episodio1.Passo4E1P2"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso2.Episodio1.Passo3E1P2"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso2.Episodio1.Passo2E1P2"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso2.Episodio1.Passo1E1P2"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso2.Episodio1.PassiE1P2Activity"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.ListaPremi"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Passo4P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Passo3P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Passo2P1"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Passo1P1"
            android:exported="false" /> <!-- Definizione Activity Travisani -->
        <activity
            android:name=".AppTravisani.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppTravisani.Home"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.StoryCard"
            android:exported="false" />
        <activity
            android:name=".AppTravisani.Percorso1.Episodio1.PassiE1P1Activity"
            android:exported="false" /> <!-- Definizione Activity Pavone -->
        <activity
            android:name=".AppPavone.ActivityDialogo"
            android:exported="false" />
        <activity
            android:name=".AppPavone.HomePrima"
            android:exported="false" />
        <activity
            android:name=".AppPavone.ActivityMedico"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityListaDati"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.HomeAllenati"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityVideo"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="false" />
        <activity
            android:name=".AppPavone.ActivityGalleriaVideo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityCaricaVideo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityGestioneDati"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityScrivereDifficile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityAscolta"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityCorpoScegli"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityMano"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityViso"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityCorpo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityCarica"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityCampoRuoli"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityCampo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityScegli"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityScrivere"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityParla"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppPavone.ActivityImpara"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>