<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tesi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tesi">
        <activity
            android:name=".ActivityGestioneDati"
            android:exported="false" />
        <activity
            android:name=".ActivityScrivereDifficile"
            android:exported="false" />
        <activity
            android:name=".ActivityAscolta"
            android:exported="false" />
        <activity
            android:name=".ActivityCorpoScegli"
            android:exported="false" />
        <activity
            android:name=".ActivityMano"
            android:exported="false" />
        <activity
            android:name=".ActivityViso"
            android:exported="false" />
        <activity
            android:name=".ActivityCorpo"
            android:exported="false" />
        <activity
            android:name=".ActivityCarica"
            android:exported="false" />
        <activity
            android:name=".ActivityCampoRuoli"
            android:exported="false" />
        <activity
            android:name=".ActivityCampo"
            android:exported="false" />
        <activity
            android:name=".ActivityScegli"
            android:exported="false" />
        <activity
            android:name=".ActivityScrivere"
            android:exported="false" />
        <activity
            android:name=".ActivityParla"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>